<body data-spy="scroll" data-target="#Main-Nav" data-offset="0" class="scrollspy-example">

    <section class="home-banner">
        <header>
            <nav class="navbar navbar-expand-md navbar-dark">
                <div class="container-fluid">

                    <a class="navbar-brand" href="#">
                        <span>QUICK</span>MED</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Main-Nav" aria-controls="Main-Nav" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="Main-Nav">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link page-scroll" href="/home">Home
                                    <span class="sr-only">(current)</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link page-scroll" href="/home#how-we-do">How we do</a>
                            </li>
                            <li class="nav-item">
                                <a style="cursor:pointer" class="nav-link nav-login " data-toggle="modal" data-target="#login-modal" (click)="loginForm.reset();errormsgreset();">Login</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <div class="container">
            <div class="section-copy">
                <div class="caption">
                    <!-- <p>Lorem Ipsum Doler Salet</p> -->
                    <h1>Smart Health Prediction</h1>
                    <p>Using Machine Learning</p>
                </div>
                <a href="/home#how-we-do" class="btn page-scroll mouse-btn">
                    <img src="../../Quickmedi/Landing/images/mouse-outline.svg">
                </a>
            </div>
        </div>
    </section>


    <section class="what-we-do" id="how-we-do" data-aos="fade-up">
        <div class="container">

            <div class="section-title">
                <p>How We Do</p>
                <h3>Our Process</h3>
            </div>

            <div class="row">
                <div class="col-sm-4" data-aos="fade-down" data-aos-duration="1000">
                    <i class="far fa-keyboard"></i>
                    <h5>Symptoms</h5>
                    <p>Choose Symptoms from the list in order to predict the Disease</p>
                </div>
                <div class="col-sm-4" data-aos="fade-down" data-aos-duration="1000">
                    <i class="fa fa-cog"></i>
                    <h5>Processing</h5>
                    <p>Entered Symptoms are processed using Machine Learning Algorithm</p>
                </div>
                <div class="col-sm-4" data-aos="fade-down" data-aos-duration="1000">
                    <i class="far fa-list-alt"></i>
                    <h5>Results</h5>
                    <p>The Results include Predicted Disease, Probability and Doctor Recommended</p>
                </div>
            </div>

        </div>
    </section>









    <footer>
        <p class="mb-0">&copy; 2018 QUICK MEDI.</p>
    </footer>





    <div class="modal fade login" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h1>Login</h1>
                    <button style="cursor:pointer;" type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="login-wrap">
                    <form #loginForm="ngForm">
                        <div style="color:red" [innerHTML]="loginerror"></div>
                        <div class="form-row">
                            <input type="text" name="user" placeholder="Username" class="form-control" [(ngModel)]="user" required>
                        </div>
                        <div class="form-row">
                            <input type="password" name="pass" placeholder="Password" class="form-control" [(ngModel)]="pass" required>
                        </div>
                        <div class="form-row">
                            <button style="cursor:pointer;" [disabled]="!loginForm.form.valid" class="btn btn-success btn-block" (click)="login();loginForm.reset();">Log In</button>
                        </div>
                    </form>

                    <div class="login-help">
                        <a href="#" class="" data-toggle="modal" data-target="#signup-modal" data-dismiss="modal" (click)="signupForm.reset();">Register</a>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="modal fade login" id="signup-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header" style="background-color:orange;height:119px">
                    <h1>Sign Up</h1>
                    <button style="cursor:pointer;" type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="login-wrap" style="padding:1rem">
                    <form #signupForm="ngForm">
                        <div class="form-row">
                            <input type="text" name="name" placeholder="Name" class="form-control" [(ngModel)]="name" required>
                        </div>
                        <div class="form-row">
                            <input type="text" name="gender" placeholder="Gender" class="form-control" [(ngModel)]="gender" required>
                        </div>
                        <div class="form-row">
                            <input type="number" name="age" placeholder="Age" class="form-control" [(ngModel)]="age" required>
                        </div>
                        <div class="form-row" style="display:inline">
                            <input type="text" name="email" placeholder="Email" class="form-control" [(ngModel)]="email" required>
                            <div style="color:red" [innerHTML]="erroremail"></div>
                        </div>
                        <div class="form-row" style="display:inline">
                            <div style="display:inline">Profile Pic:
                                <input type="file" name="pic" placeholder="ProfilePic" class="form-control" [(ngModel)]="pic" accept="image/*" (change)="onChange($event)">
                            </div>
                        </div>
                        <div class="form-row" style="display:inline">
                            <input type="text" name="username" placeholder="Username" class="form-control" [(ngModel)]="username" required>
                            <div style="color:red" [innerHTML]="error"></div>
                        </div>
                        <div class="form-row">
                            <input type="password" name="password" placeholder="Password" class="form-control" [(ngModel)]="password" required>
                        </div>
                        <div class="form-row">
                            <button style="cursor:pointer;background-color:orange;" [disabled]="!signupForm.form.valid" class="btn btn-block" (click)="signup();">Sign Up</button>
                        </div>
                    </form>


                </div>
            </div>
        </div>
    </div>

    <div class="modal fade login" id="signupsucessfull-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h2>Signup Successfull !!</h2>
                    <button style="cursor:pointer;" type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="login-wrap">
                    <div class="form-row">
                        <button style="cursor:pointer;" href="#" class="btn btn-success btn-block" data-toggle="modal" data-target="#login-modal"
                            data-dismiss="modal">LOGIN</button>
                    </div>


                </div>
            </div>
        </div>
    </div>




</body>