<app-sidenav></app-sidenav>
<div style="background-color:rgba(0, 0, 0, 0.03)">
  <div style="margin-left:215px;">
    <p-messages [(value)]="msgs" [closable]="false"></p-messages>
    <section class="statistics section-padding section-no-padding-bottom">
      <div class="container-fluid">
        <div class="row d-flex align-items-stretch">
          <div class="col-lg-12">
            <div class="card" style="height:auto">
              <div class="card-header" style="background-color:white">
                <h3 class="h5 display display" style="text-align:center;color:black">Search Doctors</h3>
              </div>
              <br>
              <br>
              <div class="card-block">
                <div class="center">
                  <p-autoComplete #autocomplete [(ngModel)]="disease" [suggestions]="filteredList" (completeMethod)="filterDiseasesSingle($event)"
                    [size]="30" placeholder="Choose Disease" [minLength]="1" appendTo=body forceSelection="true"></p-autoComplete>
                </div>
                <br>

                <div class="center">
                  <button class="btn btn-success" style="cursor:pointer;border-radius:0%;box-shadow:unset" (click)="search();">Search</button>
                </div>
                <br>
              </div>
            </div>
            <br>
            <section class="statistics section-padding section-no-padding-bottom section-no-padding-top">
              <div class="container-fluid">
                <div class="row d-flex align-items-stretch">
                  <div class="col-lg-4">

                  </div>
                  <div class="col-lg-4">
                    <div *ngIf="this.doctorname" class="wrapper income text-center">

                      <div class="display h2 text-danger">
                        <u>Doctor Details</u>
                      </div>
                      <div class="display h2" [innerHTML]="doctorname"></div>
                      <h3 class="h4 display" [innerHTML]="doctoraddress"></h3>
                      <h5 [innerHTML]="doctornumber"></h5>
                    </div>
                  </div>
                  <div class="col-lg-4">

                  </div>
                </div>
              </div>
            </section>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>



          </div>
        </div>
      </div>
    </section>
  </div>
</div>