
<p-autoComplete #autocomplete [(ngModel)]="country" [suggestions]="filteredList" (completeMethod)="filterCountrySingle($event)"  [size]="30"
placeholder="Countries" [minLength]="1" appendTo=body (onSelect)="onAddRow(country)" forceSelection="true" ></p-autoComplete>
<input type="text" [(ngModel)]="username">
<input type="text" [(ngModel)]="password">
<input type="text" [(ngModel)]="email">
<button (click)="newuser();">Create User</button>

<input type="text" [(ngModel)]="user">
<input type="text" [(ngModel)]="pass">
<button (click)="login();">Login</button>