<app-sidenav></app-sidenav>
<style>
  body {
    background: #f4f7fa;
  }

  /* Add below css */

  .profile-information .profile-pic img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    border: 10px solid rgba(51, 179, 90, 0.4);
    margin-top: 20px;
  }

  .profile-information .profile-desk {
    border-right: 1px solid #ddd;
    padding-right: 30px;
  }

  .profile-desk p {
    color: #757575;
  }

  .profile-information .profile-desk h1 {
    color: #33b35a;
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    line-height: 1;
  }

  .profile-information .profile-desk span,
  .profile-information .profile-desk p {
    display: inline-block;
    color: #757575;
  }

  .profile-information .profile-statistics h1 {
    color: #757575;
    font-size: 14px;
    font-weight: 400;
    margin: 0px;
  }

  .profile-information .profile-statistics p {
    margin-bottom: 0px;
    margin-top: 15px;
    display: inline-block;
    font-weight: bold;
  }

  .profile-information .profile-statistics ul {
    margin-top: 10px;
  }

  .profile-information .profile-statistics ul li {
    float: left;
    margin-right: 10px;
    list-style: none;
  }

  .profile-information .profile-statistics ul li a {
    background: #f6f6f6;
    color: #1fb5ad;
    text-align: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 30px;
    float: left;
  }

  .profile-information .profile-statistics ul li a:hover {
    color: #999;
  }
</style>
<br>
<br>
<div class="col-md-8" style="margin-left:215px;margin-top:20px">
  <section class="card col-sm-12">
    <div class="card-body profile-information row">
      <div class="col-md-3 col-sm-12">
        <div class="profile-pic text-center">
          <img id="profilepic" src="../../QuickMedi/Dashboard/img/userpic.png" alt="profilepic">
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="profile-desk">
          <h1 [innerHTML]="name"></h1>
          <br>
          <span class="text-muted pb-2">UserName : <p [innerHTML]="username"></p></span>
          <ul class="list-inline">
            <li class="list-inline-item">
              <strong>Age : </strong>
              <label [innerHTML]="age"></label>
            </li>
            <li class="list-inline-item">
              <strong>Gender : </strong>
              <label [innerHTML]="gender"></label>
            </li>
          </ul>

        </div>
      </div>
      <div class="col-md-3 col-sm-12">
        <div class="profile-statistics">

          <p>Email</p>

          <h1 [innerHTML]="email"></h1>

        </div>
      </div>
    </div>
  </section>
</div>