<nav class="side-navbar">
    <div class="side-navbar-wrapper">
        <div class="sidenav-header d-flex align-items-center justify-content-center">
            <div class="sidenav-header-inner text-center">
                <span class="text-uppercase">Welcome Back!</span>
                <h3 class="text-uppercase" [innerHTML]="name"></h3>
            </div>

        </div>
        <div class="main-menu">
            <ul id="side-main-menu" class="side-menu list-unstyled">
                <li>
                    <a [routerLink]="['/dashboard']">
                        <i class="fa fa-tachometer"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/doctors']">
                        <i class="fa fa-user-md"></i>
                        <span>Find Doctors</span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/profile']">
                        <i class="fa fa-user"></i>
                        <span>Profile</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<nav class="navbar">
    <div class="container-fluid">
        <div class="navbar-right"></div>

        <ul class="nav-menu">

            <li>
                <a [routerLink]="['/home']" (click)="logout();" class="nav-link logout">Logout
                    <i class="fa fa-sign-out"></i>
                </a>
            </li>
        </ul>

    </div>
</nav>
<footer class="main-footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4">
                <p>Quick Medi</p>
            </div>
            <div class="col-sm-8 text-right">
                <p>
                    ©2018
                </p>
            </div>
        </div>
    </div>
</footer>