<app-sidenav></app-sidenav>
<div style="background-color:rgba(0, 0, 0, 0.03)">
  <div style="margin-left:215px;">
    <p-messages [(value)]="msgs" [closable]="false"></p-messages>
    <section class="statistics section-padding section-no-padding-bottom">
      <div class="container-fluid">
        <div class="row d-flex align-items-stretch">
          <div class="col-lg-12">
            <div class="card" style="height:auto">
              <div class="card-header" style="background-color:white">
                <h3 class="h5 display display" style="text-align:center;color:black">Choose Symptoms</h3>
              </div>
              <br>
              <br>
              <div class="card-block">
                <div class="center">
                  <p-autoComplete #autocomplete [(ngModel)]="symptoms" [suggestions]="filteredList" (completeMethod)="filterSymptomsSingle($event)"
                    [size]="30" placeholder="Choose Symptoms" [minLength]="1" appendTo=body forceSelection="true" [multiple]="true"></p-autoComplete>
                </div>
                <br>

                <div class="center">
                  <button class="btn btn-success" style="cursor:pointer;border-radius:0%;box-shadow:unset" (click)="predict();">Predict</button>
                </div>
                <br>
              </div>
            </div>
            <br>
            <section class="statistics section-padding section-no-padding-bottom section-no-padding-top">
              <div *ngIf="this.result" class="container-fluid">
                <div class="row d-flex align-items-stretch">
                  <div class="col-lg-4">
                    <div class="wrapper income text-center">
                      <h2 class="display h4 text-center">
                        <u>Predicted Disease</u>
                      </h2>
                      <div class="display h2 text-danger" [innerHTML]="disease"></div>
                      <br>
                      <h3 *ngIf="this.description" class="h4 display">Description:</h3>
                      <h5 *ngIf="this.description" [innerHTML]="description"></h5>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="wrapper user-activity">
                      <h2 class="display h4 text-center">
                        <u>Disease Probability</u>
                      </h2>
                      <div class="progress">
                        <div *ngIf="this.result" role="progressbar" [attr.aria-valuenow]="prob" [style.width]="(prob/100)*100 + '%'" aria-valuenow="0"
                          aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar bg-danger"></div>
                      </div>
                      <div class="page-statistics d-flex justify-content-between">
                        <div class="page-visites">
                          <span>Low</span>
                        </div>
                        <div *ngIf="this.result" style="text-align:center;">
                          <span [innerHTML]="prob+'%'"></span>
                        </div>
                        <div class="new-visites">
                          <span>High</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="wrapper income text-center">
                      <h2 class="display h4 text-center">
                        <u>Doctor Recommended</u>
                      </h2>
                      <div class="display h2" [innerHTML]="doctorname"></div>
                      <h3 class="h4 display" [innerHTML]="doctoraddress"></h3>
                      <h5 [innerHTML]="doctornumber"></h5>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>



          </div>
        </div>
      </div>
    </section>
  </div>
</div>